<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yesat.car">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.auth.SmsActivity" />
        <activity
            android:name=".ui.client.XMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.client.active.CourierOfferAProfileActivity" />
        <activity android:name=".ui.client.OrderNewActivity" />
        <activity android:name=".ui.info.LocationActivity" />
        <activity android:name=".ui.info.InfoTmpActivity" />
        <activity android:name=".ui.client.CategoryActivity" />
        <activity android:name=".ui.client.XOrderDetailActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity
            android:name=".ui.courier.YMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.courier.transport.TransportDetailActivity" />
        <activity android:name=".ui.courier.transport.TransportNewActivity" />
        <activity android:name=".ui.auth.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.auth.ClientRegisterActivity" />
        <activity android:name=".ui.auth.CourierRegisterActivity" />
        <activity android:name=".ui.courier.transport.TransportListActivity" />
        <activity android:name=".ui.client.posted.XOfferListActivity" />
        <activity android:name=".ui.courier.offer.OfferNewActivity" />
        <activity android:name=".ui.courier.offer.OfferDetailActivity" />
        <activity android:name=".ui.courier.route.RouteNewActivity" />
        <activity android:name=".ui.client.CourierProfileActivity"></activity>
        <activity android:name=".ui.client.RouteFilterActivity" />
    </application>

</manifest>